body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.body {
    background-image: url("../Content/Images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 
    font-family: 'Open Sans' Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.navbar-inverse{
    border-color:transparent;
}
.logo {
    margin-left: 40px;
}
.responsive-menu {
    float: right;
    margin-right: 40px;
    
}

.navbar-inverse .navbar-collapse {
    border-color: transparent;
}

.navbar-trans {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    letter-spacing: 2px;
}

.menu-selected {
    text-decoration: underline !important;
}


@media screen and (min-width : 0px) and (max-width: 615px) {
    .responsive-menu {
        background-color: black !important;
    }
}

@media screen and (min-width : 616px) and (max-width: 3000px) {
    .responsive-menu {
        background-color: none !important;
    }
}