@{
    ViewBag.Title = "Home Page";
}
<style>
    .sidebar {
        opacity: .6;
        position: absolute;
        width: 600px;
        height: 350px;
        left: 0px;
        top: 35%;
        background-image: url("../../Content/Images/overlay.png");
    }
    @@media screen and (max-width: 800px) {
        .sidebar {
            width: 100%;
            background-repeat: no-repeat;
            background-size: 300px 200px;
        }
        .main-heading {
            position: relative;
            font-size: 30px !important;
        }
    }
    .main-heading {
        position: absolute;
        top:100px;
        height: 100%;
        font-size: 80px;
        width: calc(100vw) !important;
        color: white;
        font-stretch: expanded;
    }
    .jumbotron{
        background-color:transparent;
    }
     
</style>
<div class="full-height full-width">
    <div class="jumbotron2 main-heading  row"  >
        <div class="col-sm-12">
            BEINGS LIVING WELL +
        </div>
    </div>
    <div class="sidebar">
    </div>
</div>
@section scripts{
    <script>
        SelectMenu('home');
    </script>
}
    