@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="full-height ">
    <div class="row">
        <div class="col-sm-12 text-center ">
            <input id="txt-product-search" type="text" class="k-textbox" placeholder="Search Products..." />
        </div>
    </div>
    <div class="demo-section k-content wide">
        <div id="listView"></div>
        <div id="pager" class="k-pager-wrap"></div>
    </div>
</div>
<script type="text/x-kendo-template" id="template">
    <div class="product">
        <img src="https://picsum.photos/200/#=ProductID*10#" alt="#: ProductName # image" />
        <h3><b>#:ProductName#</b></h3>
        <p>#:kendo.toString(UnitPrice, "c")#</p>
    </div>
</script>
@section scripts{
    @Scripts.Render("~/bundles/products")
}
